@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Main Menu */


.nav {
  height: 53px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav > .nav-header {
  display: inline;
}

.nav-title{
  max-width: 15%;
  float: left;
  cursor: pointer;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}


.nav > .nav-header > .nav-title2 {
  text-align: center;
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}


.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  transition: .3s ease-in-out;
  font-family: 'Ubuntu', sans-serif;
  height: 0px;
}

.ree{
  color: #469c90 !important;
}

.nav-title2{
  font-size: 25px !important;
}

#genrehover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

#genrehover:hover::after {
  width: 100%;
  transition: width .3s;
}

#iconrotate{
  transition: .5s ease-in-out;
}

#genrehover:hover> #iconrotate{
  transform: rotate(360deg);
  color: #469c90;
  transition: .5s ease-in-out;
}

#genrehover{
  transition: .3s ease-in-out;
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

#genrehover:hover{
  color: #fff;
  transition: .3s ease-in-out;
  letter-spacing: 2px;
  background-color: none;
}

#genrehover2{
  transition: .3s ease-in-out;
  color: #555;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

#genrehover2:hover{
  color: #fff;
  transition: .3s ease-in-out;
  letter-spacing: 2px;
  background-color: none;
}

#startchange{
  background-color: #333;
  transition: .3s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav > #nav-check {
  display: none;
}

/* End Main Menu */


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scrollbar */

.foto {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.foto:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 60px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


.grid{
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2em;
  border-radius: 10px;
  margin: 0 auto;
  float: none;
}

.foto{
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
  cursor: pointer;
  transition: 0.5s;
  background-color: #333;
}

.titel{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
}

.foto:hover{
  transition: 0.5s;
  filter: grayscale(100%);
}

.samen2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#griditem {
  display:inline;
  margin-top: 20px;
}

.icon{
  font-size: 30px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  padding-top: 5px;
  transition: 0.5s;
}

.icon:hover{
  transition: 0.5s;
  color: black;
}

.tags1{
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.backgroundcc{
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.likes, .tags, .beschrijving{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  margin-left: 5px;
}

.titel2{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 10px;
}


.beschrijving{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.likes{
  font-size: 25px;
  margin: 2px;
  transition: 0.3s;
  margin-top: 5px;
}

.likes2{
  cursor: pointer;
  font-size: 30px;
  margin: 2px;
  padding-left: 5px;
  transition: 0.3s;
}

.likes2:hover{
  color: black;
  transition: 0.3s;
}

.readmore{
  color: #26DAD5;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.readmore:hover{
  color: white;
  transition: 0.3s;
  letter-spacing: 1px;
}

.likes2:active{
  color: blue;
}

.profiel{
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 100%;
  margin: 10px;
  cursor: pointer;
}


/* phone */

@media only screen and (min-width: 601px) and (max-width: 1700px){
  .nav-title2{
    width: 200px;
  }
}

@media (min-width: 1701px){
  .nav-title2{
    margin-top: -2px;
    width: 250px;
  }
}

@media (max-width:789px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 100;
  }
  #genrehover, #genrehover2{
    color: white;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    height: 7.5%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .nav-title2{
    max-width: 75%;
    margin-left: 10px;
}

/* end phone */
